Repository gvorbeck/codex-quest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,json,css,md}": ["prettier --write"]
}

feat(Spells): add dynamic loading of cleric spells and enhance spell preparation handling
  src/components/character/sheet/Spells.tsx
  src/types/character.ts
Due: eslint --fix, prettier --write

feat(SettingsModal): add toggle for displaying cantrips/orisons in spells view; update character settings interface
  src/components/character/sheet/Hero.tsx
  src/components/character/sheet/Spells.tsx
  src/components/modals/character/SettingsModal.tsx
  src/types/character.ts
Due: eslint --fix, prettier --write

feat(Spells): create reusable SpellSection component for displaying spells and cantrips; refactor known spells and cantrips sections
  src/components/character/sheet/Spells.tsx
Due: eslint --fix, prettier --write

refactor(Home): clean up import formatting and remove unnecessary padding from section
  src/components/pages/Home.tsx
Due: eslint --fix, prettier --write

feat(ClassStep): add toggle for showing cantrips/orisons in character creation; update spell selection logic
  src/components/character/creation/ClassStep.tsx
Due: eslint --fix, prettier --write

refactor: remove unused exports and clean up component index files
  src/components/character/creation/index.ts
  src/components/character/shared/index.ts
  src/components/character/sheet/level-up/SpellSelectionSection.tsx
  src/components/game/sheet/index.ts
  src/components/modals/index.ts
  src/components/ui/display/index.ts
  src/components/ui/feedback/index.ts
  src/components/ui/index.ts
  src/components/ui/inputs/index.ts
Due: eslint --fix, prettier --write

feat: add GitHub Actions workflow for deploying to GitHub Pages
  .github/deploy.yml
Due: none

feat: implement reusable hooks for equipment management and form validation; refactor equipment and scroll creation components to utilize new hooks
  src/components/character/sheet/Equipment.tsx
  src/components/character/sheet/ScrollCreation.tsx
  src/components/modals/character/CustomEquipmentModal.tsx
  src/components/modals/game/EncounterGeneratorModal.tsx
  src/hooks/useEquipmentManager.ts
  src/hooks/useFormValidation.ts
  src/utils/spellSystem.ts
Due: eslint --fix, prettier --write

refactor(settings): remove wildcard permission for npm run dev and update deny list
  .claude/settings.local.json
Due: prettier --write

feat: add comprehensive application improvement roadmap outlining priority enhancements and implementation strategies
  IMPROVEMENT_ROADMAP.md
Due: prettier --write

feat: add GitHub Actions workflow for deploying to Firebase Hosting on merge
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix: update build step to run lint instead of test in Firebase deployment workflow
  .github/workflows/firebase-hosting-merge.yml
Due: none

feat: add .npmrc file to configure npm registry
  .npmrc
Due: none

Implement code changes to enhance functionality and improve performance
  package-lock.json
Due: prettier --write

feat: add firebase.json configuration for hosting and functions
  firebase.json
Due: prettier --write

fix: update hosting public directory from 'build' to 'dist'
  firebase.json
Due: prettier --write

fix: improve chunk splitting strategy and enable polyfill for better compatibility
  vite.config.ts
Due: eslint --fix, prettier --write

fix: disable manual chunking to resolve React initialization issues
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update import path for cascadeValidateCharacter and refine chunking strategy for React initialization
  src/validation/hooks.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: refine chunking strategy to ensure React initialization and simplify data file handling
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update README to reflect project name change to Torchlight and enhance feature descriptions
  README.md
Due: prettier --write

fix: enhance README with additional feature details and improve formatting
  README.md
Due: prettier --write

fix: update tagline in README to reflect new project branding as codex.quest
  README.md
Due: prettier --write

fix: refactor ability score calculations and improve UI categorization for character strengths
  src/components/character/sheet/AbilityScores.tsx
  src/utils/characterCalculations.ts
Due: eslint --fix, prettier --write

fix: improve input blur handling to submit changes before resetting value
  src/components/character/sheet/ExperienceTracker.tsx
Due: eslint --fix, prettier --write

fix: implement character class spell system categorization and update spell selection logic
  CLAUDE.md
  src/components/character/creation/ClassStep.tsx
Due: eslint --fix, prettier --write

fix: enhance equipment selection logic with armor restrictions and improve UI components
  src/components/character/management/EquipmentSelector.tsx
Due: eslint --fix, prettier --write

fix: refactor currency handling and improve conversion utilities for better accuracy and maintainability
  CLAUDE.md
  eslint.config.js
  src/components/character/management/EquipmentSelector.tsx
  src/components/character/sheet/CoinPurse.tsx
  src/components/character/sheet/Spells.tsx
  src/components/game/sheet/GMBinder.tsx
  src/components/modals/base/Modal.tsx
  src/components/modals/game/EncounterGeneratorModal.tsx
  src/components/modals/game/TreasureGeneratorModal.tsx
  src/constants/currency.ts
  src/constants/treasureTypes.ts
  src/hooks/useEquipmentManagement.ts
  src/hooks/usePlayerCharacters.ts
  src/services/characterMigration.ts
  src/utils/characterCalculations.ts
  src/utils/currency.ts
Due: eslint --fix, prettier --write

fix: update project name and logo references from Torchlight to Codex.Quest in README
  README.md
Due: prettier --write

fix: update GitHub Actions workflow to use latest checkout and setup Node.js steps
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix: update Firebase Hosting workflow to use Node.js 20 and streamline environment variable handling
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix: remove obsolete GitHub Pages deployment workflow
  .github/deploy.yml
Due: none

fix: refactor character class handling to use classType for spellcasting logic and remove obsolete constants
  src/constants/spellcasting.ts
  src/data/classes/assassin.ts
  src/data/classes/barbarian.ts
  src/data/classes/cleric.ts
  src/data/classes/druid.ts
  src/data/classes/fighter.ts
  src/data/classes/illusionist.ts
  src/data/classes/magic-user.ts
  src/data/classes/necromancer.ts
  src/data/classes/paladin.ts
  src/data/classes/ranger.ts
  src/data/classes/scout.ts
  src/data/classes/spellcrafter.ts
  src/data/classes/thief.ts
  src/types/character.ts
  src/utils/cantrips.ts
  src/utils/characterCreation.ts
  src/utils/characterHelpers.ts
  src/utils/characterValidation.ts
Due: eslint --fix, prettier --write

fix: rename thiefSkills to skills for consistency across character classes
  src/components/character/sheet/ClassSkills.tsx
  src/components/pages/CharacterSheet.tsx
  src/data/classes/assassin.ts
  src/data/classes/ranger.ts
  src/data/classes/scout.ts
  src/data/classes/thief.ts
  src/hooks/useSkillColumns.ts
  src/hooks/useSkillDataByClass.ts
  src/types/character.ts
Due: eslint --fix, prettier --write

fix: add strategic testing implementation to improve developer efficiency and reduce manual testing bottlenecks
  IMPROVEMENT_ROADMAP.md
Due: prettier --write

feat: add robots.txt and sitemap.xml for improved SEO and web crawling
  public/robots.txt
  public/sitemap.xml
Due: none

Refactor Spells Component and Related Logic
  IMPROVEMENT_ROADMAP.md
  src/components/character/sheet/Spells.tsx
  src/components/character/sheet/spells/PreparedSpellsSection.tsx
  src/components/character/sheet/spells/SpellSlotDisplay.tsx
  src/components/character/sheet/spells/hooks/useClericSpells.ts
  src/components/character/sheet/spells/hooks/useSpellData.ts
  src/components/character/sheet/spells/hooks/useSpellPreparation.ts
  src/components/character/sheet/spells/index.ts
  src/components/modals/character/MUAddSpellModal.tsx
Due: eslint --fix, prettier --write

feat: implement pre-configured equipment packs to enhance character creation experience
  IMPROVEMENT_ROADMAP.md
Due: prettier --write

feat: implement encounter generation feature with UI components
  IMPROVEMENT_ROADMAP.md
  src/components/modals/game/EncounterGeneratorModal.tsx
  src/components/modals/game/encounter/EncounterGeneratorButton.tsx
  src/components/modals/game/encounter/EncounterInstructions.tsx
  src/components/modals/game/encounter/EncounterResults.tsx
  src/components/modals/game/encounter/EncounterRules.tsx
  src/components/modals/game/encounter/EncounterSubtypeSelector.tsx
  src/components/modals/game/encounter/EncounterTypeSelector.tsx
  src/components/modals/game/encounter/hooks/useEncounterData.ts
  src/components/modals/game/encounter/hooks/useEncounterGeneration.ts
  src/data/encounters/cityEncounters.ts
  src/data/encounters/dungeonEncounters.ts
  src/data/encounters/wildernessEncounters.ts
  src/types/encounters.ts
  src/utils/encounterUtils.ts
Due: eslint --fix, prettier --write

feat(scroll-creation): implement scroll creation feature with UI components and hooks
  IMPROVEMENT_ROADMAP.md
  src/components/character/sheet/ScrollCreation.tsx
  src/components/character/sheet/index.ts
  src/components/character/sheet/scroll-creation/ScrollCreation.tsx
  src/components/character/sheet/scroll-creation/components/ActiveScrolls.tsx
  src/components/character/sheet/scroll-creation/components/CompletedScrolls.tsx
  src/components/character/sheet/scroll-creation/components/EmptyState.tsx
  src/components/character/sheet/scroll-creation/components/ScrollCreationModal.tsx
  src/components/character/sheet/scroll-creation/components/SpellcrafterBonuses.tsx
  src/components/character/sheet/scroll-creation/components/index.ts
  src/components/character/sheet/scroll-creation/hooks/useScrollActions.ts
  src/components/character/sheet/scroll-creation/hooks/useScrollCreation.ts
Due: eslint --fix, prettier --write
