Repository gvorbeck/codex-quest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: disable button during spell loading in MUAddSpellModal to prevent multiple loads
  src/components/features/character/modals/MUAddSpellModal.tsx
Due: eslint --fix, prettier --write

feat: update available spells filtering to account for loading state and errors
  src/components/features/character/modals/MUAddSpellModal.tsx
Due: eslint --fix, prettier --write

feat: refactor spell state management in MUAddSpellModal for improved clarity and maintainability
  src/components/features/character/modals/MUAddSpellModal.tsx
Due: eslint --fix, prettier --write

feat: refactor character handling and migration logic for improved version management
  src/components/features/character/sheet/ExperienceTracker.tsx
  src/components/pages/CharacterSheet.tsx
  src/hooks/queries/useCharacterSheet.ts
  src/services/characterMigration.ts
  src/services/characters.ts
  src/utils/character.ts
Due: eslint --fix, prettier --write

fix: rename parameters in HP notes and description handlers for clarity
  src/components/pages/CharacterSheet.tsx
Due: eslint --fix, prettier --write

fix: update dependency arrays in useCallback hooks to prevent unnecessary re-renders
  src/components/pages/CharacterSheet.tsx
Due: eslint --fix, prettier --write

feat: add comprehensive testing implementation plan for character creation system
  IMPROVEMENT_ROADMAP.md
  TEST_PLAN.md
Due: prettier --write

feat: add testing framework and utilities
  .gitignore
  e2e/character-creation.spec.ts
  e2e/equipment-selection.spec.ts
  e2e/helpers/character-helpers.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/__tests__/components/AbilityScoreStep.test.tsx
  src/__tests__/utils/character.test.ts
  src/__tests__/utils/currency.test.ts
  src/test/helpers/index.ts
  src/test/mocks/character-data.ts
  src/test/mocks/firebase.ts
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: implement currency utility functions for BFRPG character management
  src/utils/currency.ts
Due: eslint --fix, prettier --write

feat: refactor currency handling in CoinPurse, Weight, and equipment management hooks for BFRPG compliance
  src/components/features/character/sheet/CoinPurse.tsx
  src/components/features/character/sheet/Weight.tsx
  src/hooks/equipment/useEquipmentManagement.ts
  src/hooks/equipment/useEquipmentManager.ts
Due: eslint --fix, prettier --write

fix: add missing newline at end of playwright.config.ts and vitest.config.ts
  playwright.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: refactor currency handling in character migration and content utilities for improved clarity and efficiency
  src/services/characterMigration.ts
  src/utils/content.ts
  src/utils/data.ts
Due: eslint --fix, prettier --write

Refactor character creation and equipment selection tests for improved readability and maintainability
  README.md
  TEST_PLAN.md
  e2e/character-creation.spec.ts
  e2e/equipment-selection.spec.ts
  e2e/helpers/character-helpers.ts
  src/__tests__/components/AbilityScoreStep.test.tsx
  src/__tests__/utils/character.test.ts
  src/test/helpers/index.ts
  src/test/mocks/character-data.ts
  src/test/mocks/firebase.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write

feat: add compliance check for style guide in code review process
  .claude/commands/code-review.md
Due: prettier --write

feat: enhance character creation and equipment selection tests with improved visibility checks and remove unnecessary wait times
  .claude/settings.local.json
  e2e/character-creation.spec.ts
  e2e/equipment-selection.spec.ts
  src/utils/currency.ts
Due: eslint --fix, prettier --write

feat: enhance currency conversion support and add coverage configuration for testing
  .claude/settings.local.json
  CLAUDE.md
  package.json
  src/__tests__/components/AbilityScoreStep.test.tsx
  src/__tests__/utils/currency.test.ts
  src/test/setup.ts
  src/utils/currency.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: add coverage tools and update dependencies in package-lock.json
  package-lock.json
Due: prettier --write

feat: enhance character creation flow with comprehensive tests and refactor currency utilities
  .gitignore
  e2e/helpers/character-helpers.ts
  src/__tests__/integration/character-creation-flow.test.tsx
  src/__tests__/utils/game-mechanics.test.ts
  src/components/domain/equipment/EquipmentSelector.tsx
  src/hooks/equipment/useEquipmentManagement.ts
  src/utils/currency.ts
  src/utils/data.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

refactor: clean up imports and formatting in utility files
  src/hooks/equipment/useEquipmentManagement.ts
  src/utils/currency.ts
  src/utils/data.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

refactor: enhance comments for clarity in currency utility functions
  src/utils/currency.ts
Due: eslint --fix, prettier --write

feat: add legacy and enhanced currency conversion tests and support for electrum to gold conversion
  src/__tests__/utils/currency.test.ts
  src/components/pages/CharacterSheet.tsx
  src/utils/currency.ts
Due: eslint --fix, prettier --write

refactor: fix indentation for ability score change handler
  src/components/pages/CharacterSheet.tsx
Due: eslint --fix, prettier --write

ci: enhance CI workflow with coverage reporting and E2E tests refactor: update pre-commit hooks to run tests before build refactor: standardize ESLint import formatting and configuration
  .github/workflows/ci.yml
  .husky/pre-commit
  eslint.config.js
Due: prettier --write

ci: update upload-artifact action to version 4
  .github/workflows/ci.yml
Due: none

fix: add missing environment variables for unit tests with coverage
  .github/workflows/ci.yml
Due: none

docs: update README for quick start in mock mode and enhance installation instructions
  README.md
  package.json
Due: prettier --write

ci: ensure e2e tests only run on the main branch
  .github/workflows/ci.yml
Due: none

refactor: remove e2e tests from CI workflow
  .github/workflows/ci.yml
Due: none

feat: enhance alert system with initial welcome and mock mode alerts
  .github/copilot-instructions.md
  src/App.tsx
  src/constants/uiDesignSystem.ts
Due: eslint --fix, prettier --write

feat: integrate LoadingState component for improved loading feedback in Routes and ItemGrid
  src/components/app/Routes.tsx
  src/components/ui/composite/ItemGrid.tsx
  src/components/ui/core/feedback/index.ts
Due: eslint --fix, prettier --write

feat: add mock mode reset functionality and update header branding based on mode
  src/components/app/Header.tsx
Due: eslint --fix, prettier --write

feat: replace button with Button component for error dismissal in LevelUpModal
  src/components/features/character/modals/LevelUpModal.tsx
Due: eslint --fix, prettier --write

feat: Implement mock mode for development and testing
  src/components/features/character/management/CharacterCard.tsx
  src/components/modals/auth/SignInModal.tsx
  src/components/pages/GameGen.tsx
  src/data/sampleCharacters.ts
  src/data/sampleGames.ts
  src/hooks/auth/useAuth.ts
  src/hooks/character/usePlayerCharacters.ts
  src/hooks/data/useSkillDataByClass.ts
  src/hooks/mutations/useAuthMutations.ts
  src/hooks/queries/useCharacterSheet.ts
  src/hooks/queries/useGame.ts
  src/lib/mockMode.ts
  src/services/auth.mock.ts
  src/services/characterMigration.ts
  src/services/characters.mock.ts
  src/services/characters.ts
  src/services/games.mock.ts
  src/services/games.ts
  src/services/index.ts
  src/utils/data.ts
  src/utils/favicon.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

feat: Refactor alert system to support multiple alerts and improve alert handling
  src/App.tsx
  src/components/app/GlobalAlert.tsx
  src/components/app/Header.tsx
  src/components/pages/GameGen.tsx
  src/constants/uiDesignSystem.ts
  src/hooks/queries/useGame.ts
  src/services/games.mock.ts
  src/utils/data.ts
Due: eslint --fix, prettier --write

feat: Update README to enhance feature descriptions and add Vitest badge
  README.md
Due: prettier --write

feat: Enhance mock mode functionality and improve code readability across components
  src/components/app/Header.tsx
  src/constants/uiDesignSystem.ts
  src/services/characters.mock.ts
  src/services/characters.ts
  src/utils/favicon.ts
Due: eslint --fix, prettier --write

feat: Refactor imports in magic.ts to avoid circular dependencies and improve clarity
  src/utils/magic.ts
Due: eslint --fix, prettier --write

feat: add playwright test command to permissions
  .claude/settings.local.json
Due: prettier --write

feat: Implement enhanced character and game mutations with consistent error handling
  src/App.tsx
  src/components/features/character/creation/ClassStep.tsx
  src/components/features/character/creation/EquipmentStep.tsx
  src/components/features/character/creation/SpellChecklistSelector.tsx
  src/components/features/character/management/CharactersList.tsx
  src/components/features/character/shared/CantripSelector.tsx
  src/components/features/game/combat/CombatantsList.tsx
  src/components/features/game/encounters/hooks/useEncounterGeneration.ts
  src/components/features/game/management/GamesList.tsx
  src/components/features/game/sheet/CombatantsSection.tsx
  src/components/features/game/sheet/PlayerCard.tsx
  src/components/pages/CharGen.tsx
  src/components/pages/CharacterSheet.tsx
  src/components/pages/GameSheet.tsx
  src/components/pages/Home.tsx
  src/components/ui/composite/ItemGrid.tsx
  src/hooks/dice/useCombatLogic.ts
  src/hooks/forms/useEnhancedFormValidation.ts
  src/hooks/index.ts
  src/hooks/mutations/index.ts
  src/hooks/mutations/useCharacterMutations.ts
  src/hooks/mutations/useEnhancedMutations.ts
  src/hooks/network/useNetworkStatus.ts
  src/hooks/queries/index.ts
  src/hooks/queries/useCharacterSheet.ts
  src/hooks/queries/useCharacters.ts
  src/hooks/queries/useEnhancedQueries.ts
  src/hooks/queries/useGame.ts
  src/hooks/queries/useGames.ts
  src/hooks/ui/index.ts
  src/hooks/ui/useNotifications.ts
  src/lib/globalErrorHandler.ts
  src/lib/queryClient.ts
  src/services/characters.mock.ts
  src/services/index.ts
Due: eslint --fix, prettier --write

feat: Update permissions in settings and optimize character ID generation in mock service
  .claude/settings.local.json
  src/services/characters.mock.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md})
